body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 200px;
  padding: 30px 0;
}





.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px ;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 55%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #545454;
  font-family: 'Manjari', sans-serif;
  font-size: 24px;
  font-style: normal;
}

.popup {
  position: absolute;
  top: 20px;
  right: 300px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup :hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  font-size: 18px;
}

.textbox {
  box-sizing: border-box;
  /* position: absolute; */
  width: 100%;
  height: 28px;
  left: 366px;
  top: 285px;
  background: #F3F3F3;
  border: 1px solid #AEAEAE;
  border-radius: 4px;
  display: flex
}

.textbox1 {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  left: 366px;
  top: 285px;
  background: #F3F3F3;
  border: 1px solid #AEAEAE;
  border-radius: 4px;
  display: flex
}

.category1 {
  height: 40px;
  top: 395px;
  width: auto;
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  /* display: flex;
align-items: center; */

  color: #18C4EE;

}

.tag {
  padding-right: 20px;
  border-radius: 25px;
  background-color: #e6e6e6;
}

.textbox2 {
  box-sizing: border-box;
  width: 60%;
  height: 28px;
  left: 366px;
  top: 285px;
  background: #F3F3F3;
  border: 1px solid #AEAEAE;
  border-radius: 4px;
}

.abc {
  width: 139px;
  height: 28px;
}

.button {
  color: #18C4EE;
  padding: 6px;
  font-size: 17px;
  font-weight: 700px;
}

.button1 {
  color: #18C4EE;
  margin-top: -20px;
  font-size: 17px;
  font-weight: 700px;
}

.close,
.close1 {
  color: #021114;
  font-size: 17px;
  text-decoration: none;
  font-family: 'Manjari';
  box-sizing: border-box;
  border-radius: 4px;
}

.db-btn {
  margin-left: 449px;
}

.close1 {
  padding: 5px;
  background-color: #18C4EE;
}

.textbox3 {
  box-sizing: border-box;
  width: 100%;
  height: 205px;
  left: 366px;
  top: 285px;
  background: #F3F3F3;
  border: 1px solid #AEAEAE;
  border-radius: 4px;
  display: flex;
}

.content-w {
  float: right;
  padding-top: 15px;
  padding-right: 100px;
}


.roll {
  overflow-y: scroll;
  margin: 70px auto;
  padding: 20px;
  background-color: #F3F3F3;
  border-radius: 5px;
  width: 1000px;
  height: 700px;
  position: relative;
  transition: all 5s ease-in-out;
}
.db-btn1{
  margin-left: 750px;
}
.x{
  color: #ee2618;
  text-decoration: none;
}
.sign{
  color:#18c4ee;
}
.imagebody1{
  width: 40%
}
.imagebody2{
  width: 100%
}
.imagebody3{
  padding-top: 20px;
}
.imagebody4{
  width: 50%
}
.imagebody5{
 margin: 10px 0
}


















.pen {
  display: flex;
  width: 25px;
  height: 25px;
  background: rgba(210, 210, 210, 0.4);
  border-radius: 50%;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.line1 {
  border-bottom: 2px solid #545454;
  transform: rotate(-45deg);
  width: 15px;
  position: absolute;
  top: 57px;
  left: -48px;
}

.line2 {
  border-bottom: 2px solid #545454;
  width: 80px;
  position: absolute;
  /* bottom: 1px; */
  top: 62px;
  left: -45px;
}

.name {
  display: flex;
  padding: 0 20px;
}

.name img {
  padding-right: 10px;
}

.user {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #074f63;
}

.dev {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #808080;
}

.hire {
  width: 125px;
  height: 32px;
  background: #d93f1d;
  color: #fff;
  border-radius: 80px;
  border: none;
  font-size: 15px;
  line-height: 20px;
}

section {
  margin: 0 250px;
}

.main-title {
  display: flex;
  justify-content: space-between;
  font-size: 48px;
  line-height: 56px;
  color: #074f63;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  line-height: 42px;
  margin: 30px 0;
  color: #074f63;
}

.category span {
  font-size: 14px;
  line-height: 16px;
  color: #8fadb5;
}

.main-content {
  font-size: 18px;
  line-height: 21px;
  color: #808080;
}

.description {
  margin-top: 50px;
}

.description ul li {
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
}

.features-card {
  position: relative;
  margin: 0 60px;
}

.features-content {
  position: absolute;
  top: 0;
  margin: 0 100px;
  padding-top: 40px;
  border-bottom: 2px solid #7da1ab;
}

.features-content p:nth-child(1) {
  background: rgba(7, 79, 99, 0.5);
  color: #fff;
  padding-left: 50px;
  font-size: 24px;
  padding: 10px 0px 10px 100px;
  text-align: center;
}

.features-content p:nth-child(2) {
  padding: 0px 80px 0px 300px;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  color: #808080;
}

.features-content1 {
  display: none;
}

.features-content2 p:nth-child(1) {
  padding: 0px 80px 0px 300px;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  color: #808080;
}

.team {
  display: flex;
  margin: 0px 95px 60px 95px;
  justify-content: space-between;
}

.team-card {
  position: relative;
  border: 1px solid #074f63;
  padding: 20px 20px 0px 0px;
}

.team .team-card img {
  width: 100%;
  height: 100%;
}

.team .team-card span {
  position: absolute;
}

.team .team-card .team-card1 {
  top: -10px;
  left: 30px;
  width: 130px;
  text-align: center;
  background: #fff;
  color: #074f63;
}

.team .team-card .team-card2 {
  bottom: 80px;
  right: -65px;
  transform: rotate(90deg);
  width: 130px;
  text-align: center;
  background: #fff;
  color: #074f63;
}

.concact {
  display: flex;
  justify-content: space-between;
  margin: 0px 95px 60px 95px;
}

.concact1 {
  width: 45%;
  padding: 30px;
  background: #ffffff;
  box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.concact-info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.concact-info span {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #545454;
  padding-left: 10px;
}

.concact-link {
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 10px;
}

.concact-link span {
  padding-left: 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background: #007893;
  color: #fff;
  font-size: 20px;
}

.name1 {
  display: none;
  margin: 20px;
}

.name1 img {
  padding-right: 10px;
}

.end {
  text-align: end;
}

.p1 {
  padding: 10px 100px 10px 0px;
}

.p2 {
  padding: 0px 300px 0px 80px;
  text-align: left;
}

@media only screen and (max-width: 996px) {
  header {
    margin: 0px 70px;
  }

  header .name {
    display: none;
  }

  .hire {
    margin-left: 100px;
  }

  .name1 {
    display: flex;
  }

  section {
    margin: 0 20px;
  }

  .features-card {
    margin: 0;
  }

  .features-content {
    margin: 0;
    border-bottom: none;
  }

  .features-content p:nth-child(1) {
    display: none;
  }

  .features-content p:nth-child(2) {
    padding: 100px 20px 0px 330px;
  }

  .end {
    text-align: inherit;
    margin-left: 15px;
  }

  .features-content1 {
    display: block;
    width: 280px;
  }

  .features-content1 p:nth-child(1) {
    background: rgba(7, 79, 99, 0.5);
    color: #fff;
    font-size: 24px;
    padding: 10px;
    margin-left: 33px;
    text-align: center;
  }

  .p1 {
    padding: 0;
  }

  .p2 {
    padding: 0;
  }

  .team {
    margin: 10px;
  }

  .concact {
    margin: 10px;
  }

  footer {
    display: block;
    padding: 20px;
  }
  .popup {
    right: 150px;
  }
  .roll {
    
    width: 70%;
    padding: 10px;
    top: 20px;
    right: -50px;
    font-size: 30px;
    font-weight: bold;
    margin: 70px ;
  }
  .content-w {
  float: right;
  padding-top: 700px;
  padding-right: 0px;
}
.textbox3{
  height: 310px;
}
.db-btn {
  margin-left: 300px;
}
.db-btn1 {
  margin-left: 300px;
}
}

@media only screen and (max-width: 576px) {
  header {
    justify-content: space-between;
  }

  .features-content {
    /* position: relative; */
    padding: 0;
  }

  .features-content p:nth-child(2) {
    padding: 0px 50px;
    padding-top: 50px;
  }

  .features-card img {
    padding-top: 60px;
  }

  .team {
    display: block;
  }

  .team-card {
    margin-bottom: 40px;
  }

  .concact {
    display: block;
  }

  .concact1 {
    width: auto;
  }
  .popup {
    right: 60px;
  }
  .db-btn {
    margin-left: 100px;
  }
  .db-btn1{
    margin-left: 0px;
  }
}